<p id="notice"><%= notice %></p>

<h1>Enrollments Page</h1>

<table>
  <thead>
    <tr>
      <th>Student Id</th>
      <th>Course Name</th>
      <th>Percentage Grade</th>
      <th>Letter Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrolls.each do |enroll| %>
      <tr>
        <td><%= enroll.student_id %></td>
        <td><%= enroll.course_id %></td>
        <td><%= enroll.percentage %></td>
        <td><%= enroll.lettergrade %></td>
        <td id="link"><%= link_to 'Show', enroll %></td>
        <td id="link"><%= link_to 'Edit', edit_enroll_path(enroll) %></td>
        <td id="link"><%= link_to 'Delete', enroll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br>

<p id="link"><%= link_to 'New Enroll', new_enroll_path %></p>

<p id="link", font-size:50><%= link_to "Show Student", "/students" %></p>
<p id="link", font-size:50><%= link_to "Back to Course Page", "/courses" %></p>

<p id ='histogram'> <%= link_to "Assign Grades", "/Assignment%201/histogram.html" %></p>

<!-- <script type="text/javascript" src="calculate.js"></script> -->
<script>
var st_id = <%= raw @st_id.to_json%>;
var c_id = <%= raw @c_id.to_json%>;
var percentage = <%= raw @percentage .to_json%>;
var lettergrade = <%= raw @lettergrade .to_json%>;

var grades = [];
for (var i = 0; i < st_id.length; i++) {
  // console.log(st_id[i]);
  // console.log(c_id[i]);
  // console.log(percentage[i]);
  // console.log(lettergrade[i]);
  if (percentage[i] != 0) {
    grades.push(percentage[i])

  }
  // console.log(grades);


}

// console.log(total);
</script>
<script type="text/javascript" src="calculate.js"></script>
